
.section {
  text-align: center;
}
.hero {
  padding: 8rem 0 4rem;
  background-color: #05D9E4;
  color: white;
}

.circle img{
  border-radius: 104.5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .6);
}

.values{
  padding: 1rem 0 8rem;
}
